/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.dateInModal{z-index:1151 !important;}

.popover.clockpicker-popover{
    z-index: 1050;
}

.calendarForm .state-error input {
    background: rgba(255, 8, 8, .2)!important;
    border-color: #a90329!important;
}

.calendarForm em {
    display: block;
    color: #D56161;
}

.margined-img{
    margin: 3px;
}